
.home .ant-carousel .slick-dots {
	  content: "";
		border: 1px solid #ddd;
		border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding: 10px 0;
    height: 28px;
    width: 20%;
    background: #bbb;
    opacity: 0.6;
    margin: auto;
    left: 0;
    right: 0;
}

.home .ant-carousel .slick-dots li {
	height: 8px;
	background: #ddd;
	border: 1px solid #fff;
	opacity: 1;
}

.home .ant-carousel .slick-dots li.slick-active button {
	background: #000000;
}

.home .ant-carousel .slick-dots li button {
	height: 6px;
}

.home .ant-carousel .slick-slide {
	position: relative;
	text-align: center;
} 

.home .ant-carousel .slick-slide >h3 {
	position: absolute;
	font-size: 30px;
	opacity: 0.7;	
	margin: auto;
	top: 50%;
	left: 0;
	right: 0;

}

